* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: "Kadabra";
    src: url(./DuctusMonoRegular.woff2);
  }
  
  html {
    background-color: rgb(249, 44, 44);
    color: black;
    font-family: "Space Mono", monospace;
    overflow: scroll;
  }
  
  a {
    text-decoration: underline;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #title {
    position: absolute;
    top: 25%;
    margin-top: -50px;
     text-align: center;

   }
  
  h1 {
    font-family: "Kadabra";
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  
p {
    color: black;
    width: 50%;
    margin: auto;
}

  /* smartphone */
  @media only screen and (max-width: 480px), (orientation: portrait) {
    h1 {
      font-family: "Kadabra";
      font-size: 5rem;
      text-align: center;
      padding-bottom: 2rem;
    }
  
   p {
      font-size: 2rem;
      text-align: center;
      color: black;
      font-style: normal;
      width: 90%;
    }

  }