html {
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: "Major Mono Display", monospace;
}

.hidden {
    display: grid;
    place-items: center;
    align-content: center;
    margin: 3rem;
    min-height: 50rem;
    text-align: center;
    filter: blur(5px);
    transform: translateX(-100%);
}

h4 {
    font-size: 5rem;
    font-style: italic;
}

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    align-content: center;
}

img {
    height: auto;
    width: 100%;
    align-items: center;
    align-content: center;
}

.soup-img img {
    height: 30em;
    width: auto;
    align-items: center;
    align-content: center;
    animation: rotate 8s linear infinite;
}

.soup-img2 {
    align-items: center;
    align-content: center;
    min-height: 50rem;
    animation: wiggle 2s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
        transform: rotate(0);
      }
  }

.soup-img {
    display:grid;
    grid-template-columns: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 50rem;
}

.image:nth-child(2) {
    transition-delay: 200ms;
}

.image:nth-child(3) {
    transition-delay: 400ms;
}

.image:nth-child() {
    transition-delay: 600ms;
}

#button{
    background-color: rgba(0,0,0,0.0);
    font-size: 2rem;
    text-transform: lowercase;
    border: 1px solid white;
    border-radius: 50%;
    padding: 2rem;
    color: white;
    font-family: 'Major Mono Display', monospace;
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #ea33d5,
    inset -20px 0 80px #f4c0ff,
    inset 20px 0 300px #ea33d5,
    inset -20px 0 300px #f4c0ff,
    0 0 50px #fff,
    -10px 0 80px #ea33d5,
    10px 0 80px #f4c0ff;
}

#button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

#button:visited {
    background-color: white;
}