* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: "Kadabra";
    src: url(./DuctusMonoRegular.woff2);
  }

  body {
    overflow: hidden;
  }
  
  img {
    position: absolute;
    width: 200px;
    z-index: 1;
  }
  
  img:hover {
    position: fixed;
  }
  
  @media (max-width: 768px) {
    img {
      width: 150px;
    }
  }
  
  html {
    background-color: rgb(249, 44, 44);
    color: black;
    animation: color 15s infinite;
    font-family: "Space Mono", monospace;
  }
  
  a {
    text-decoration: underline;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #title {
   position: absolute;
   top: 40%;
   margin-top: -50px;
    text-align: center;
    line-height: 3rem;
    margin: auto;
    width: 100%;
  }
  
  h1 {
    font-family: "Kadabra";
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  
  h4 {
    font-size: 1rem;
    letter-spacing: .2rem;
    text-align: center;
    color: black;
  }
  
  h1 {
    animation: text 15s infinite;
  }
  
  p {
    color: black;
  }
  
  .def, .bottom-def {
    font-style: italic;
  }
  
  #intro p{
    text-align: center;
    font-size: .8rem;
    top: 1rem;
    position: fixed;
    display: block;
    width: 100%;
    letter-spacing: .05rem;
    text-transform: lowercase;
  }
  
  #def-bottom p {
    text-align: center;
    font-size: .8rem;
    bottom: 1rem;
    position: fixed;
    display: block;
    width: 100%;
    letter-spacing: .05rem;
    text-transform: lowercase;
  }
  
  
  .shape {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color: magenta;
  }
  
  .yes:hover {
    transform: rotate(-20deg);
  }
  
   {
    background-color: magenta;
    height: 2rem;
    width: 2rem;
    border: 1px solid magenta;
    border-radius: 50%;
  }

  .dot {
    height: 3rem;
    width: 3rem;
    mix-blend-mode:exclusion;
  }

  /* smartphone */
@media only screen and (max-width: 480px), (orientation: portrait) {
  h1 {
    font-family: "Kadabra";
    font-size: 5rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  h4 {
    font-size: 2rem;
    letter-spacing: .2rem;
    text-align: center;
    color: black;
    font-style: normal;
  }
}
  
