html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.cursor {
    display: inline-block;
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 3;
  }