html {
    background-color: black;
    color: white;
    text-transform: lowercase;
}

body {
    font-family: "Major Mono Display", monospace;
  }
  
th, td {
    padding: 1rem;
    font-size: .8rem;
  }

title:hover {
    border: 1px solid white;
    border-radius: 1rem;
    padding: .2rem;
    text-align: center;
}

.title {
  line-height: 2rem;
}

h1 {
    font-size: 1.5rem;
    padding: 1rem;
}

#smaller {
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    color: #ffffff;
    text-align: left;
    margin: 2px;
    display: none; /* Hidden by default */
    padding: 1rem;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }

.left {
    position: relative;
    display: block;
    text-align: center;
    top: 1rem;
    height: 50rem;
}

.right {
  overflow: scroll;
  height: 51rem; 
}

.btn {
  background: black;
  color: white;
  font-family: "Major Mono Display", monospace;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5rem;
  text-transform: lowercase;
}

.btn:hover {
  background: white;
  color: black;
  transform: rotate(-5deg);
}

.btn: :active {
  background: white;
  color: black;
}

.bold {
  font-size: 1.3rem;
}

hr {
  width: 10rem;
  align-items: start;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

img {
  height: 20rem;
  margin-left: 20rem;
  bottom: 19rem;
  position: fixed;
}

#burn img {
  height: 20rem;
  margin-left: 20rem;
  bottom: 19rem;
  position: fixed;
}

a img {
  display: none;
}
a:hover img {
position:absolute;
  display: block;
  left:0;
}

#myBtnContainer {
  margin-top: 30rem;
}